/* Grupo1*/
.Yesica {
    border: 10px;
    border-style: solid;
    border-color:deeppink;
    margin: 10%;
    padding: 10px;
}
.Ronald {
    border: 10px;
    border-style: solid;
    border-color:salmon;
    margin: 10%;
    padding: 10px;
}
.Frasiel {
    border: 10px;
    border-style: solid;
    border-color:palevioletred;
    margin: 10%;
    padding: 10px;
}
.Cata {
    border: 10px;
    border-style: solid;
    border-color:pink;
    margin: 10%;
    padding: 10px;
}
.Vane {
    border: 10px;
    border-style: solid;
    border-color:plum;
    margin: 10%;
    padding: 10px;
}