/*
body{
    border: 10px;
    border-width: 5px;
    border-color: red;
    border-style: solid;
    color: cornflowerblue; 
    background-color: rgba(10, 10, 10, 0.901);}

*/    

h1{
    color: aqua;
}
.lorem{
    color: aquamarine;
    text-align: left;
}

.descripcion{
    border: 10px;
    border-color: turquoise;
    border-style: solid;
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
}

/* fuentes */
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
} 


/* CSS originalmente incrustado en el HTML */
body {
    background-color: rgb(201, 203, 201);
    font-family:Arial;
    margin-left: 5%;}

h1 {
    color: black;}

hr {
    color:white;}    

footer p {
    color:white;}

footer {
    color:white;
    font-weight:bold;
    padding:15px;
    border:3px solid rgb(255, 252, 255);
    background-color: rgb(114, 116, 114);
    margin-top:50px;
    margin-bottom:20px;
    border-radius:10px; 
    color: white;}
img {
    border-radius:10px;
}    

