body{
    border: 10px;
    border-width: 5px;
    border-color: red;
    border-style: solid;
    color: cornflowerblue; 
    background-color: rgba(10, 10, 10, 0.901);}

/*Todo lo que va aquí es un comentario*/
h1{
    color: aqua;
}
.header{
    border: 5px;
    border-style: solid;
    border-color: blue;
}
.descripcion{
    border: 10px;
    border-color: turquoise;
    border-style: solid;
    /*Arriba Abajo - Derecha Izquierda*/
    /*Arriba - Derecha - Abajo - Izquierda*/
    margin: 20px;
    padding: 70px 25px 30px 10px;
    border-radius: 15px;
}
.cajasect{
    border: 5px;
    border-style: solid;
    border-color: rgb(189, 226, 67);
    margin: 50px 25px 30px 10px;
    display: block;
}
.div1{
    border: 5px;
    border-style: solid;
    border-color: rgb(189, 226, 67);
    margin: 50px 25px 30px 10px;
    width: 30%;
    display: inline-flex;
}
.div2{
    border: 5px;
    border-style: solid;
    border-color: rgb(65, 186, 54);
    margin: 50px 25px 30px 10px;
    width: 30%;
    display: inline-flex;
    
}
.div3{
    border: 5px;
    border-style: solid;
    border-color: rgb(72, 135, 199);
    
}
.div4{
    border: 5px;
    border-style: solid;
    border-color: rebeccapurple;
    
}

.grupos{
    border: 5px;
    border-style: solid;
    border-color: rebeccapurple;
    margin: 50px 25px 30px 10px;
}

.footer{
    border: 5px;
    border-style: solid;
    border-color: green;
}
.lorem{
    color: aquamarine;
    text-align: left;
}




/* Fuentes */

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
} 

.montserrat-black {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}  